@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Data Access Options</h1>

    <ul>
        <li>ADO.NET <a href="/api/v01/authors">Authors</a></li>
    </ul>
</div>
