@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Data Access Options</h1>

    <a href="/swagger">OPEN SWAGGER</a><br />
    <a href="http://localhost:5341/#/events?autorefresh">OPEN SEQ</a>

    <h2>List Authors</h2>
    <ul>
        <li>ADO.NET SQL <a href="/api/v01/authors">Authors</a></li>
        <li>ADO.NET SPROC <a href="/api/v02/authors">Authors</a></li>
        <li>Dapper SQL <a href="/api/v03/authors">Authors</a></li>
        <li>Dapper SPROC <a href="/api/v04/authors">Authors</a></li>
        <li>EF Core <a href="/api/v05/authors">Authors</a></li>
    </ul>

    <h2>Get Author By Id With Courses</h2>
    <ul>
        <li>ADO.NET SQL <a href="/api/v01/authors/1">Author By Id</a></li>
        <li>ADO.NET SPROC <a href="/api/v02/authors/1">Authors By Id</a></li>
        <li>Dapper SQL <a href="/api/v03/authors/1">Authors By Id</a></li>
        <li>Dapper SPROC <a href="/api/v04/authors/1">Authors By Id</a></li>
        <li>EF Core <a href="/api/v05/authors/1">Authors By Id</a></li>
    </ul>

</div>
